{
  "extends": "./.config/.eslintrc",
  "rules": {
    "react-hooks/refs": "off",
    "react-hooks/set-state-in-effect": "off"
  },
  "overrides": [
    {
      "files": ["**/*.test.ts", "**/*.test.tsx"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"]
    },
    {
      "files": ["**/**.ts", "**/*.tsx"],
      "rules": {
        "no-console": ["error", { "allow": ["warn", "error"] }]
      }
    }
  ]
}