{
  "extends": "./.config/.eslintrc",
  "overrides": [
    {
      "files": ["**/*.test.ts", "**/*.test.tsx"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"]
    },
    {
      "files": ["**/**.ts", "**/*.tsx"],
      "rules": {
        "no-console": ["error", { "allow": ["warn", "error"] }]
      }
 },
    {
      "files": ["acceptance-tests/**/*.ts"],
      "rules": {
        "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_$|^_", "varsIgnorePattern": "^_$|^_", "ignoreRestSiblings": true }]
      }
    },
    {
      "files": ["acceptance-tests/**/*.js"],
      "rules": {
        "no-unused-vars": ["error", { "argsIgnorePattern": "^_$|^_", "varsIgnorePattern": "^_$|^_", "ignoreRestSiblings": true }]
      }
    }
  ]
}