{
  "extends": "./.config/.eslintrc",
  "overrides": [
    {
      "files": ["**/*.test.ts", "**/*.test.tsx"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"]
    },
    {
      "files": ["**/**.ts", "**/*.tsx"],
      "rules": {
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }]
      }
    }
  ]
}