@import url('smart-webcomponents-react/source/styles/components/smart.base.css');
@import url('smart-webcomponents-react/source/styles/components/smart.common.css');
@import url('smart-webcomponents-react/source/styles/components/smart.querybuilder.css');
@import url('@ni/nimble-tokens/dist/styledictionary/css/variables.css');

.smart-query-builder {
    /* Tokens from nimble tokens */
    --smart-primary: var(--ni-nimble-base-digital-green-light);

    /* Tokens from grafana */
    --smart-background: var(--grafana-background-primary);
    --smart-border: var(--grafana-border-medium);
    --smart-background-color: var(--grafana-text-primary);
    --smart-ui-state-focus: var(--grafana-focus-color);
    --smart-border-top-right-radius: var(--grafana-border-radius-default);
    --smart-border-top-left-radius: var(--grafana-border-radius-default);
    --smart-border-bottom-right-radius: var(--grafana-border-radius-default);
    --smart-border-bottom-left-radius: var(--grafana-border-radius-default);

    --smart-ui-state-color-focus: var(--smart-background-color);
}

.smart-scroll-bar {
    --smart-scroll-bar-button-border: transparent;
    --smart-scroll-bar-background: var(--smart-background);

    /* Tokens from grafana */
    --smart-scroll-bar-track-background: var(--grafana-focus-color);
    --smart-scroll-bar-thumb-background: var(--grafana-focus-color);
    --smart-scroll-bar-thumb-background-hover: var(--grafana-focus-color);
    --smart-scroll-bar-thumb-background-active: var(--grafana-active-color);
    --smart-scroll-bar-button-background: var(--grafana-focus-color);
    --smart-scroll-bar-button-color: var(--grafana-text-primary);
    --smart-scroll-bar-button-background-hover: var(--grafana-focus-color);
    --smart-scroll-bar-button-color-hover: var(--grafana-text-primary);
    --smart-scroll-bar-button-background-active: var(--grafana-focus-color);
    --smart-scroll-bar-button-color-active: var(--grafana-text-primary);
}