body[theme="light"], .smart-ui-component[theme="light"] {
    --smart-border-width: 0;
    --smart-background: #ffffff;
    --smart-primary-color:var(--smart-background);
    --smart-background-color: #161617;
    --smart-ui-state-focus: rgba(22, 22, 23, 0.1);
    --smart-ui-state-color-focus: #161617;
    --smart-primary: #009b65;
    --smart-disabled: #4D5359; /* The theme primary color in disabled state. */
    --smart-disabled-color: #fff; /* Text color on top of a theme background in disabled state */
    --smart-editor-selection: var(--smart-primary);
    --smart-editor-selection-color: var(--smart-primary-color);
    --smart-ui-state-active: var(--smart-primary);
    --smart-ui-state-color-active: var(--smart-primary-color);
    --smart-ui-state-border-active: var(--smart-primary);
    --smart-ui-state-selected: rgba(var(--smart-primary-rgb), .1);
    --smart-ui-state-color-selected: var(--smart-primary);
    --smart-ui-state-border-selected: rgba(var(--smart-primary-rgb), .1);
}

body[theme="dark"], .smart-ui-component[theme="dark"] {
    --smart-border-width: 0;
    --smart-background: #363738;
    --smart-background-color: #f1f1f2;
    --smart-primary-color:var(--smart-background);
    --smart-ui-state-focus: rgba(241, 241, 242, 0.1);;
    --smart-ui-state-color-focus: #f1f1f2;
    --smart-primary: #009b65;
    --smart-disabled: #4D5359; /* The theme primary color in disabled state. */
    --smart-disabled-color: #fff; /* Text color on top of a theme background in disabled state */
    --smart-editor-selection: var(--smart-primary);
    --smart-editor-selection-color: var(--smart-primary-color);
    --smart-ui-state-active: var(--smart-primary);
    --smart-ui-state-color-active: var(--smart-primary-color);
    --smart-ui-state-border-active: var(--smart-primary);
    --smart-ui-state-selected: rgba(var(--smart-primary-rgb), .1);
    --smart-ui-state-color-selected: var(--smart-primary);
    --smart-ui-state-border-selected: rgba(var(--smart-primary-rgb), .1);
}