name: PR

on:
  pull_request:
    branches:
      - main
      - alpha
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Check types
        run: npm run typecheck

      - name: Lint
        run: npm run lint -- --quiet

      # - name: Unit tests
      #   run: npm run test:ci

      - name: Build
        run: npm run build

      - name: Start test environment
        run: docker compose -f docker-compose.tests.yaml up -d

      - name: Wait for services
        run: |
          timeout 60 sh -c 'until curl -f http://localhost:4000/api/health > /dev/null 2>&1; do sleep 2; done'
          timeout 60 sh -c 'until curl -f http://localhost:5000/up > /dev/null 2>&1; do sleep 2; done'

      - name: Acceptance tests
        run: npm run test:acceptance --pass-with-no-tests
